<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin 2 - Blank</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <!-- Custom fonts for this template-->
    <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- Custom styles for this template-->
    <link href="/static/css/sb-admin-2.min.css" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    <script>
        $(document).ready(function() {
            $("#headers").load("/nav/");  // 원하는 파일 경로를 삽입하면 된다
            $("#topbar").load("/topbar/");  // 원하는 파일 경로를 삽입하면 된다
            $("#footer").load("/footer/");  // 원하는 파일 경로를 삽입하면 된다
            $("#editModal").modal("hide");
        });
    </script>
    <style>
        .container-fluid {
            position:relative;
        }
        .btn-icon-split {
            position:absolute;
            right:24px;
            top: 0;
        }
        #editModal {
            z-index: -100;
        }
    </style>
</head>
{% block content %}
<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <ul id="headers" class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"></ul>
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
        <!-- Modal-->
        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" style="padding-right: 17px; display: block;" aria-modal="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <!--modal header-->
                    <div class="modal-header">
                        <h5 class="modal-title" id="">업체 정보 수정</h5>
                        <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <!--modal header-->
                    <!--modal body-->
                    <div class="modal-body">
                        <div class="modal-body">
                            <div class="md-form mb-3">
                                <div class="col-auto">
                                    <div class="row mb-4 pressInfos">
                                        <div class="col-3 mb-1 pt-1">
                                            <label for=""><span class="">회사명</span></label>
                                        </div>
                                        <div class="col-9 mb-1">
                                            <input type="text" class="form-control" id="d" />
                                        </div>
                                    </div>
                                    <div class="row mb-1 pressInfos">
                                        <div class="col-3 mb-1 pt-1">
                                            <label for=""><span class="">일일 생산량</span></label>
                                        </div>
                                        <div class="col-9 mb-1">
                                            <input type="text" class="form-control" id="d" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--modal body-->
                    <!--modal footer-->
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" id="fileUploadBtn">Upload</button>
                    </div>
                    <!--modal footer-->
                </div>
            </div>
        </div>
        <!-- Modal-->
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav id="topbar"></nav>
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">업체정보 / 업체정보검색</h1>
                    <p class="mb-4"></p>
                    <a href="#" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-check"></i>
                        </span>
                        <span class="text">데이터 다운로드</span>
                    </a>
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">조회</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>순번</th>
                                            <th>회사명</th>
                                            <th>작업일자</th>
                                            <th>작업종료일자</th>
                                            <th>작업호기</th>
                                            <th>제품명</th>
                                            <th>생산량(yd)</th>
                                            <th>등록일시</th>
                                            <th>수정일시</th>
                                            <th style="text-align:center;">관리</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>순번</th>
                                            <th>회사명</th>
                                            <th>작업일자</th>
                                            <th>작업종료일자</th>
                                            <th>작업호기</th>
                                            <th>제품명</th>
                                            <th>생산량(yd)</th>
                                            <th>등록일시</th>
                                            <th>수정일시</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for comp in comp_list %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{comp.comp_name}}</td>
                                            <td>{{comp.work_date}}</td>
                                            <td>{{comp.work_end_date}}</td>
                                            <td>{{comp.fac_code}}</td>
                                            <td>{{comp.prod_name}}</td>
                                            <td>{{comp.prod_output}}</td>
                                            <td>{{comp.created_at}}</td>
                                            <td>{{comp.modified_at}}</td>
                                            <td style="text-align:center;">
                                                <a href="" id="edit_{{ comp.id }}"><i class="far fa-edit {{ comp.id }}"></i></a>
                                                <a href="" id="delete_{{ comp.id }}" style="margin-left:10px;"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>
    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

    <!--게시판 관련 js-->
    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Page level custom scripts -->
    <script src="/static/js/demo/datatables-demo.js"></script>
    <!-- sweetalert 설치 후 사용가능
         $ npm install sweetalert2 -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <!--게시판 관련 js-->
    <script>
    $(function(){
        // 수정
        $('.fa-edit').on('click', function(){
        $('#editModal').css("z-index", "100");
            $('#editModal').modal("show");

        });

        // 삭제
        var selectdata = new Object;
        $('.fa-trash-alt').on('click', function(e){
            var str = e.target.parentElement.id.split('_');
            selectdata.id = str[1];
            Swal.fire({
              icon: 'error',
              title: '삭제하시겠습니까?',
              showCancelButton: true,
              text: ''
            }).then(function(){
                $.ajax({
                    url: "{% url 'delete' %}",
                    data : JSON.stringify(selectdata),
                    type:'json',
                    contentType: 'application/json',
                    method: "POST",
                    success: function(data){
                        location.reload();
                    },
                    error: function(error){
                        console.log(error)
                    }
                });
            });
            return false;
        });

    });
    </script>
</body>
{% endblock %}
</html>