{% extends "algorithm_test/common/navigation.html" %}
{% block content %}

<div class="row">
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">스케줄링 테스트 </h6>
            </div>
            <div class="modal-body pknu-modal-body-overflow">
                <div class="row sch-pknu-modal-row">
                    <div class="col-md-3"><label for="machine_num" class="pt-2">기계 대수</label></div>
                    <div class="col-md-9">
                        <input type="text" class="form-control" id="machine_num" value="" />
                    </div>
                </div>
                <div class="row sch-pknu-modal-row">
                    <div class="col-md-3"><label class="pt-2">작업 개수</label></div>
                    <div class="col-md-9" id="divSelectOrder_old">
                        <input type="text" class="form-control" id="job_num" value="" />
                    </div>
                </div>
                <div class="row sch-pknu-modal-row">
                    <div class="col-md-3"><label class="pt-2" style="font-size:0.95rem;">작업별 수량</label></div>
                    <div class="col-lg-9" id="job_count">

                    </div>
                </div>
            </div>
            <div class="card-footer py-3 d-flex flex-row align-items-center justify-content-between">
                <a href="#" id="execute" class="btn btn-dark w-100">
                    <i class="fas fa-download fa-sm text-white-50"></i> &nbsp;실행
                </a>
            </div>

        </div>
    </div>
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">스케줄 차트</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body chart-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="css-loader" class="loader loader-default"></div>
<script src="/static/js/jquery.treegrid.min.js"></script>
<script>
    $(function(){
        $("#job_num").on("change",function(){
            var cnt = $("#job_num").val();
            cnt = parseInt(cnt);
            var innerHTML = "";
            for(var i=0;i<cnt;i++){
                innerHTML += 'job ' + parseInt(i+1) + '<input type="text" class="form-control job_cnt" value=""  style="margin-bottom:1.5rem;"/>';
            }
            $("#job_count").html(innerHTML);
        });
        var ctx = document.getElementById("myAreaChart");
        $("#execute").on("click", function(){
            var machine_num = $("#machine_num").val();
            var job_num = $("#job_num").val();
            var demands = new Array();
            $(".job_cnt").each(function(index){
                demands.push(parseInt($(this).val()));
            });
            var obj = new Object();
            obj.machine_num = machine_num;
            obj.job_num = job_num;
            obj.demands = demands;
            $.ajax({
                url: "{% url 'schedule:schedule.test_chart' %}",
                method: 'GET',
                dataType: "json",
                type:'json',
                contentType: 'application/json',
                data: JSON.stringify(obj),
            }).done(function(response) {
                var dataset = new Array();
                var max_mn = response.length;
                for(var i=0; i<response.length; i++){
                    for(var j=0; j<response[i].length;j++){
                        dataset.push({
                            label: response[i][j][2],
                            backgroundColor: "rgba(78, 115, 223, 0.05)",
                            borderColor: response[i][j][3],
                            fill: false,
                            responsive: true,
                            borderWidth: 15,
                            pointRadius: 0,
                            data: [{
                                x: response[i][j][0],
                                y: i + 1,
                            }, {
                                x: response[i][j][1],
                                y: i + 1,
                            }]
                        })
                    }
                }

                var scatterChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        datasets: dataset
                    },
                    options: {
                        animation: {
                            onComplete: function() {
                                var ctx = this.chart.ctx;
                                var cht = this.chart;
                                ctx.font = Chart.helpers.fontString(Chart.defaults.global.defaultFontFamily, 'light', Chart.defaults.global.defaultFontFamily);
                                ctx.fillStyle = "#466964";
                                ctx.textAlign = 'center';
                                ctx.textBaseline = 'bottom';

                                this.data.datasets.forEach(function(dataset, i) {
                                    var meta = cht.controller.getDatasetMeta(i);
                                    var data = dataset.label;
                                    var arr = new Array();
                                    arr.push(data);
                                    meta.data.forEach(function(bar, index){
                                        var label = arr[index];
                                        if (typeof label == 'undefined') {label = ''}
                                        ctx.fillText(label, bar._model.x, bar._model.y-5);
                                    })

                                });

                            }
                        },
                        legend: {
                            display: false
                        },
                        scales: {
                            xAxes: [{
                                type: 'time',
                                position: 'bottom',
                                scaleLabel: {
                                    display: true,
                                    labelString: 'dates'// '날짜'
                                },
                                // ticks: {
                                time: {
                                    unit: 'day',
                                    unitStepSize: 1,
                                    displayFormats: {
                                        'day': 'MM / DD'
                                    }
                                }
                            }],
                            yAxes: [{
                                scaleLabel: {
                                    display: false
                                },
                                scaleLabel: {
                                    display: true,
                                    labelString: 'machine number' // '기계 번호'
                                },
                                ticks: {
                                    beginAtZero: true,
                                    stepSize: 1,
                                    min: 0,
                                    max: max_mn + 1
                                }
                            }]
                        },
                        pan: {
                            enabled: true,
                            mode: 'x',
                        },
                        zoom: {
                            enabled: true,
                            mode: 'x',
                        },
                    },
                });



            });

        });
    });
</script>
{% endblock %}