{% extends "textile/common/navigation.html" %}
{% block content %}
<style>
    .card-body{position:relative;}
    .multiple-items {position:absolute; top:16px; left:37.1%;}
    .update-profile img {height:80%;}
    .comp-content{position:absolute; top:-20px; right: -30px;}
    .comp-content img{width:90%;}
</style>
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-body">
                <input type="hidden" id="group_id" value="{{ user.groups.all.0.id }}">
                <input type="hidden" id="group_name" value="{{ user.groups.all.0.name }}">
                <input type="hidden" id="user_name" value="{{ user.username }}">
                <input type="hidden" id="user_id" value="{{ user.id }}">
                <form method="get" action="{% url 'textile.home' %}">
                    <div class="pknu-table-responsive">
                        <div class="col-lg-12 col-md-4 pknu-searchDate-card">
                            <div class="col-lg-3 col-md-3 pknu-searchDate-dd">
                                <label>작업 일자</label>
                            </div>
                            <div class="col-lg-2 col-md-4 pknu-searchDate-dd" >
                                 <input class="form-control text-center" type="text" name="dateFrom" id="dateFrom" value="{{ dateFrom }}"/>
                            </div>
                            <div class="col-lg-1 col-md-1 pknu-searchDate-dd">~</div>
                            <div class="col-lg-2 col-md-4 pknu-searchDate-dd" style="margin-right:0.4rem;">
                                <input class="form-control text-center" type="text" name="dateTo" id="dateTo" value="{{ dateTo }}"/>
                            </div>
                            <div class="col-pos-right">
                                <button id="searchBtn" href="#" class="btn btn-dark w-100"><i class="fas fa-search mr-1"></i> &nbsp; 검색</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row data-row" id="row"></div>
<!-- Border Bottom Utilities -->
<script src="/static/js/common/dashboard.js"></script>
{% endblock %}